rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      allow read, write, create, update, delete: if true;
    }
    match /projects/{project} {
      allow read, write: if true;
    }
    match /content/{docId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
